* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


body {
    background-image: url(IMAGENES/FONDO-DE-LA-APP.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f4f4f9;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    
}


  /* se maneja el texto del titulo "Calculando Infusiones" */
h1 {
    font-size: 3rem;
    position: fixed;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 
    1.9px 1.9px 1px #02273b,  
    -1px -1px 1px #02273b,  
    1.9px -1px 1px #02273b,
    -1px 1.9px 1px #02273b; /* Sombra blanca para simular el borde */
    top: 5px;
    left: 30%;  /* Alinea el texto al lado izquierdo */
    transform: translateX(-50%);
    text-align: right;
    
}

/* se maneja toda el container de medicamentos*/
.card-container {
    position: absolute;
    top: 110px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: 10px;
    margin: 10px;
}

/* se maneja todas las cards de medicamentos*/
.card {
    background: #035785;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 20%;
    max-width: 300px;
    text-align: left;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.10);
}

  /* se maneja la card y el container de la Bascula */
.container5 {
    display: flex;
    gap: 0px; /* Espacio entre las tarjetas */
    border-radius: 60px;
    padding: 0px;
    position: fixed;
    top: 10px;
    right: 0px;
    transition: opacity 0.5s;
    opacity: 0.9; /* Añade una transición suave */

}

/* Se maneja la carta de la bascula*/
.card5 {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 55%;
    max-width: 400px;
    text-align: center;
    font-size: 13px;
    color: #035785;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    margin:  auto; /* Centrado en pantallas grandes */
}


/* maneja el boton donde se ingresa el peso del paciente*/
#pesoPaciente { 
    width: 150px;         /* Cambia el tamaño a 150px o cualquier valor que desees */
    margin: auto;         /* Centra el input en su contenedor (si es block o flex) */
    margin-bottom: 0;     /* Elimina cualquier margen en la parte inferior */
    font-size: 13px;      /* Ajusta el tamaño de fuente */
    margin-top: 4px;     /* Añade 10px de margen en la parte superior */
}


  /* Estilos para dispositivos móviles */



.card1:hover {
    transform: scale(1.10);
}

  /* Titulos de las cards de los Médicamentos */
.card h2 {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 20px;
}


.card .form-group {
    margin-bottom: 10px;
    
}

.card label {
    font-weight: bold;
    display: block;
    
}

.card input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 10PX;
    font-size: 12px;
    border: none
}

  /* maneja los textos de ratmin ratmax y ratactual */
.card .result {
    margin-top: 10px;
    font-size: 0.8em;
    color: #eee8e8;
}


/* Maneja el Botón Calcular*/
button {
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

button:hover {
    background-color: #004799;
}